.technology-item
  h3.technology-item-title='HTML'
  h3.technology-item-title='PUG'

.technology-item
  h3.technology-item-title='CSS'
  h3.technology-item-title='SASS'
  h3.technology-item-title='SMACSS'
  h3.technology-item-title='FLEXBOX'

.technology-item
  h3.technology-item-title='JS'
  h3.technology-item-title='JQUERY'
  h3.technology-item-title='OOP'
  h3.technology-item-title='ES-2015'
  h3.technology-item-title='DESIGN PATTERN'

.technology-item
  h3.technology-item-title='GULP'
  h3.technology-item-title='GIT'
